<section id="subscribe-boxes" class="component-captioned-image-bar hidden">
	<div class="container-fluid">

		<div class="content-row row">
			<div class="col-md-3 col-xs-12 content flex-center text-center">
				{{ settings["subscribe-boxes/label_1"] }}
				{{ setting_helpers.image_tag("subscribe-boxes/image_1", class_name="square-image") }}
				{{ settings["subscribe-boxes/caption_1"] }}
			</div>

			<div class="col-md-3 col-xs-12 content flex-center text-center">
				{{ settings["subscribe-boxes/label_2"] }}
				{{ setting_helpers.image_tag("subscribe-boxes/image_2", class_name="square-image") }}
				{{ settings["subscribe-boxes/caption_2"] }}
			</div>

			<div class="col-md-3 col-xs-12 content flex-center text-center">
				{{ settings["subscribe-boxes/label_3"] }}
				{{ setting_helpers.image_tag("subscribe-boxes/image_3", class_name="square-image") }}
				{{ settings["subscribe-boxes/caption_3"] }}
			</div>
		</div>
		
	</div>
</section>
