<section id="index-why-cat-spot" class="component-rich-text-center">

	<div class="container-fluid">
			<div class="text-center">
				<h1 id="why-cat-spot-header" class="why_cat_spot_header">Why CatSpot?</h1>
				<p class="why_cat_spot_subheader">Think inside the box.  Cats are more than just pets - they're family.  Our litter is safer for them and easier on you.</p>
               
                  <div class="row why_cat_spot_content_row sf-grid-margin">

					<div class="col-lg-3 image_on_left_column sf-grid-padding">
						<img class="why_cat_spot_litter_image" src="{{ '/images/fullsizeoutput_3.jpeg' | asset_url }}" alt="placeholder image">
					</div>

					<div class="col-lg-9 icons_on_right_column sf-grid-padding">
						<div class="row why_cat_spot_row_1">
							<div class="col-md-4 col-sm-6 col-xs-12 why_cat_spot_item sf-grid-padding">
								<img class="why_cat_spot_item_image" class="why_cat_spot_item_image" src="{{ '/images/zero-chemicals3.png' | asset_url }}" alt="Zero Chemicals Icon">
								<p class="why_cat_spot_item_header">Zero Chemicals</p>
								<p class="why_cat_spot_item_text">All-natural with no added fragrances.</p>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 why_cat_spot_item sf-grid-padding">
								<img id="why_cat_spot_item_hypoallergenic_image" class="why_cat_spot_item_image" src="{{ '/images/hypoallergenic3.png' | asset_url }}" alt="Hypoallergenic Icon">
								<p class="why_cat_spot_item_header">Hypoallergenic</p>
								<p class="why_cat_spot_item_text">Dust-free with no clumping agents or toxic clay.</p>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 why_cat_spot_item sf-grid-padding">
								<img class="why_cat_spot_item_image" src="{{ '/images/lightweight3.png' | asset_url }}" alt="Lightweight Icon">
								<p class="why_cat_spot_item_header">Lightweight</p>
								<p class="why_cat_spot_item_text">Don't lug home heavy litter ever again.</p>
							</div>
						</div>
						<div class="row why_cat_spot_row_2">
							<div class="col-md-4 col-sm-6 col-xs-12 why_cat_spot_item sf-grid-padding">
								<img id="why_cat_spot_item_odor_elimination_image"class="why_cat_spot_item_image" src="{{ '/images/odor-elimination3.png' | asset_url }}" alt="Odor Elimination Icon">
								<p class="why_cat_spot_item_header">Odor Elimination</p>
								<p class="why_cat_spot_item_text">Absorbs and masks unpleasant odor.</p>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 why_cat_spot_item sf-grid-padding">
								<img id="why_cat_spot_item_free_shipping_image" class="why_cat_spot_item_image" src="{{ '/images/free-shipping3.png' | asset_url }}" alt="Free Shipping Icon">
								<p class="why_cat_spot_item_header">Free Shipping</p>
								<p class="why_cat_spot_item_text">Shipping is on us, always.</p>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 why_cat_spot_item sf-grid-padding">
								<img id="why_cat_spot_item_one_ingredient_image" class="why_cat_spot_item_image" src="{{ '/images/one-ingredient3.png' | asset_url }}" alt="One Ingredient Icon">
								<p class="why_cat_spot_item_header">One Ingredient</p>
								<p class="why_cat_spot_item_text">100% coconut, and that's it.</p>
							</div>
						</div>
					</div>

	


                  
                </div>
				

			</div>
	</div>
</section>

