<section id="cmp_25b8410b-f7e0-4fa9-9ec0-d988e42030e2" class="component-rich-text-with-button">
	<div class="container-fluid">

		<div class="component-rich-text-with-button__content-row row">
			<div class="col-xs-12"> 
			  <div class="content content--reviews">
				  <!-- {{ settings["cmp_25b8410b-f7e0-4fa9-9ec0-d988e42030e2/content"] }} -->
				<blockquote class="review review--detail testimonial testimonial--detail">
					  <p>"CatSpot Litter has absolutely no smell, no dust, and it’s lightweight. Anyone could carry it!"</p>
					  <span><strong>Donna Hand</strong>Humane Society of Southeast Missouri</span>
					<img src="{{ 'images/DonnaHand.jpg' | asset_url }}">
				</blockquote>
				<blockquote class="review review--detail testimonial testimonial--detail">
					  <p>"I really like it. It doesn’t have big clumps like the other litters I have used and therefore not as much waste."</p>
					  <span><strong>Shelby Witherow</strong>Customer</span>
					<img src="{{ 'images/RabbitGirl.jpg' | asset_url }}">
				</blockquote>
				<blockquote class="review review--detail testimonial testimonial--detail">
					  <p>"Our cat likes it, no odor, and easy to clean up. We will definitely continue using it."</p>
					  <span><strong>Camie and Brooklyn Jones, Customers</strong></span>
					<img src="{{ 'images/CamieBrooklyn.jpg' | asset_url }}">
				</blockquote>
				<blockquote class="review review--detail testimonial testimonial--detail">
					  <p>"It isn’t expensive, it’s easy on my cats’ paws, no chemicals, and it controls odor. CatSpot Litter will change the cat litter industry. Watch and see!"</p>
					  <span><strong>Willy Williams</strong>Customer</span>
					<img src="{{ 'images/WillyWilliams.jpg' | asset_url }}">
				</blockquote>
				<blockquote class="review review--detail testimonial testimonial--detail">
					  <p>"ABSOLUTELY the best litter I have ever used. It’s so light and easy to carry! Thanks CatSpot."</p>
				  <span><strong>Tom Gladish</strong>Customer</span>
					<img src="{{ 'images/TomGladish.jpg' | asset_url }}">
				</blockquote>
			  </div>

			</div>
		</div>

		<!--div class="component-rich-text-with-button__button-row row">
			<div class="col-xs-12 text-center">
				<a type="button" class="btn btn-large btn-primary" href="{{ settings['cmp_25b8410b-f7e0-4fa9-9ec0-d988e42030e2/button_url'] | default('#') }}">{{ settings["cmp_25b8410b-f7e0-4fa9-9ec0-d988e42030e2/button_text"] }}</a>
			</div>
		</div-->
		
	</div>
</section>
