<section id="cmp_96917d27-c3bb-4540-83d2-8940303f8b38" class="component-rich-text-center">
	<div class="container">
		<div class="row how-it-works-row-main">
			<div class="col-xs-12 text-center">
             	<h1 id="how-it-works">How It Works</h1>
             </div>

                <div class="col-md-3 sf-grid-padding">
                  <img class="how-it-works-img img-responsive square-img-container square-img-content" src="{{ '/images/1_layer.png' | asset_url }}" />
                  <h3>1. Layer</h3>
                  <h5>Layer CatSpot litter 1.5 - 2" in depth over litter box.</h5>
                </div>
                <div class="col-md-3 sf-grid-padding">
                  <img class="how-it-works-img img-responsive square-img-container square-img-content" src="{{ '/images/2_remove.png' | asset_url }}" />
                  <h3>2. Remove</h3>
                  <h5>Remove solids from litter daily, and stir litter to help coconut absorb liquids.</h5>
				</div>
                <div class="col-md-3 sf-grid-padding">
                  <img class="how-it-works-img img-responsive square-img-container square-img-content" src="{{ '/images/3_toss.png' | asset_url }}" />
                  <h3>3. Toss</h3>
                  <h5>After 15 days of use, empty litter box in the yard, flower beds, or compost bin.</h5>
				</div>
                <div class="col-md-3 sf-grid-padding">
                  <img class="how-it-works-img img-responsive square-img-container square-img-content" src="{{ '/images/4_repeat.png' | asset_url }}" />
                  <h3>4. Repeat</h3>
                  <h5>Refill the litter box, from the month supply or a new bag.</h5>
            	</div>
            <div class="col-xs-12 text-center sf-grid-padding">
            	<a class="btn-primary" href='/create_account'>Shop Now</a>
        	</div>
		</div>
	</div>
</section>
