<section id="cmp_a797ad06-d04e-49f3-a656-065c536a355c" class="component-rich-text-center">
	<div class="container">
		<div class="content row">
			<div class="col-xs-12 text-center">
            	<h1>Pricing</h1>
              	<div class="pricing-subheader">
					<p>Select the plan that's purrfect for you.</p>
					<p>Whether you want a one-time order or a subscription, shipping is always free!</p>	
              	</div>
                  <div class="row column-info">
                  	<div class="col-xs-12 col-md-5 pricing-col" id="subscription-col">
                      <img class="best-value-icon" src="{{ '/images/Best_Value_Banner.png' | asset_url }}" />
                      <div class="column-content">
                        <img class="bag-img" src="{{ '/images/triple-product-shot-bag-2.png' | asset_url }}" />
                      	<h5><strong>SUBSCRIPTION</strong></h5>
                      	<h4><strong>$15/bag</strong></h4>
                    	<p>Monthly Deliveries</p>
                        <p>Cancel At Any Time</p>
                        <p>Free Shipping</p>
                        <p>Save $3/bag</p>
                      </div>
                      <div class="column-button btn-block">
                      	<a href="/subscribe/" class="btn-primary btn-block">Buy Now</a>
                      </div>
                  	</div>
                  	<div class="col-xs-12 col-md-5 pricing-col" id="one-time-col">
                      <div class="column-content">
                        <img class="bag-img" src="{{ '/images/Product_Shot_Bag-2.png' | asset_url }}" />
                        <h5><strong>ONE TIME</strong></h5>
                      	<h4><strong>$18/bag</strong></h4>
                    	<p>Zero Commitment</p>
                        <p>Free Shipping</p>
                      </div>
                      <div class="column-button btn-block">
                      	<a href="/shop/product/507928554" class="btn-primary btn-block">Buy Now</a>
                      </div>
                  	</div>
              	</div>
          	</div>
		</div>
	</div>
</section>
