#subscribe-previous-boxes {
	background-color: {{ settings['subscribe-previous-boxes/background_color'] }};
}

#subscribe-previous-boxes h1 {
	color: {{ settings['subscribe-previous-boxes/heading_1/color'] }};
	font-family: {{ settings['subscribe-previous-boxes/heading_1/font_face'] }};
	font-size: {{ settings['subscribe-previous-boxes/heading_1/font_size'] }};
}

#subscribe-previous-boxes h2 {
	color: {{ settings['subscribe-previous-boxes/heading_2/color'] }};
	font-family: {{ settings['subscribe-previous-boxes/heading_2/font_face'] }};
	font-size: {{ settings['subscribe-previous-boxes/heading_2/font_size'] }};
}

#subscribe-previous-boxes h3 {
	color: {{ settings['subscribe-previous-boxes/heading_3/color'] }};
	font-family: {{ settings['subscribe-previous-boxes/heading_3/font_face'] }};
	font-size: {{ settings['subscribe-previous-boxes/heading_3/font_size'] }};
}

#subscribe-previous-boxes p {
	color: {{ settings['subscribe-previous-boxes/body/color'] }};
	font-family: {{ settings['subscribe-previous-boxes/body/font_face'] }};
	font-size: {{ settings['subscribe-previous-boxes/body/font_size'] }};
}

@media (min-width: 768px) {
	#subscribe-previous-boxes .content {
		margin: 0 auto;
		width: 80%;
	}
}
#subscribe-previous-boxes  {
	padding-bottom: 0;
	font-family: Roboto Slab;
}