<section id="howitworks-steps" class="component-captioned-image-bar">
	<div class="container-fluid">

		<div class="content-row row">
			<div class="col-md-3 col-xs-12 content flex-center text-center">
				{{ settings["howitworks-steps/label_1"] }}
				{{ setting_helpers.image_tag("howitworks-steps/image_1", class_name="square-image") }}
				{{ settings["howitworks-steps/caption_1"] }}
			</div>

			<div class="col-md-3 col-xs-12 content flex-center text-center">
				{{ settings["howitworks-steps/label_2"] }}
				{{ setting_helpers.image_tag("howitworks-steps/image_2", class_name="square-image") }}
				{{ settings["howitworks-steps/caption_2"] }}
			</div>

			<div class="col-md-3 col-xs-12 content flex-center text-center">
				{{ settings["howitworks-steps/label_3"] }}
				{{ setting_helpers.image_tag("howitworks-steps/image_3", class_name="square-image") }}
				{{ settings["howitworks-steps/caption_3"] }}
			</div>
		</div>
		
	</div>
</section>
