<section id="cmp_f3f84e00-40f4-4bba-86b8-b3dcf968e85e" class="component-rich-text-center component__title component__title--faq">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<h2>Frequently Asked Questions</h2>
			</div>
		</div>
	</div>
</section>

<section id="faq-faq" class="component-rich-text-center">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-lg-3 sf-grid__container">
				<div class="side-bar-navigation">
					<div class="block-item">
						<h5 class="side-bar-item">I have a question about:</h5>
					</div>
					<div class="block-item">
						<a class="side-bar-item side-bar-link active" href="#recommended-use">Recommended Use</a>
					</div>
					<div class="block-item">
						<a class="side-bar-item side-bar-link" href="#features">Features</a>
					</div>
					<div class="block-item">
						<a class="side-bar-item side-bar-link" href="#health">Health</a>
					</div>
					<div class="block-item">
						<a class="side-bar-item side-bar-link" href="#support">Support</a>
					</div>
				</div>
			</div>

			<div class="col-sm-9 col-lg-9 sf-grid__container">
				<div class="content faq-answers">
					<div id="contact-info">
						<p>To get in touch with us, you can call CatSpot at  <a href="tel:1-844-624-3125">1-844-624-3125</a> or send an email to <a href="mailto:info@catspotlitter.com.">info@catspotlitter.com</a>. We are open Monday-Friday, 8:00am-5:00pm CST.</p>
					</div>

					<div id="recommended-use">
						<h1>Recommended Use</h1>

						<h3 id="how-much-per-month">How much CatSpot Litter should I use per month?</h3>
						<p>Litter box maintenance can be broken down into 5 simple steps:</p>
						<ol>
							<li>With your bag of CatSpot Litter, fill a clean litter box with a desired frequency of change amount.</li>
							<li>We recommend removing the solids on a daily basis or to your cat(s) preferences. (Reference Disposal and Care).  As the solids are removed, agitate and stir the litter thoroughly to disperse the urine throughout the product.</li>
							<li>With the unmatched absorption of CatSpot Litter, the urine should not be removed during frequency of change period.  For best results, agitate and stir the litter thoroughly to disperse the urine throughout the product as you remove the solids daily.  This will increase the longevity and effectiveness of the CatSpot Litter.</li>
							<li>At the end of the frequency of change period, dispose of the used CatSpot Litter by way of waste receptacle or as a yard soil amendment.</li>
							<li>With the remaining litter from the month supply bag or a new bag, refill the litter box with the desired frequency of change amount.</li>
						</ol>


						<h3 id="need-to-scoop">Will I still need to scoop CatSpot Litter?</h3>
						<p>CatSpot Litter does not clump when exposed to urine.  To maintain optimal freshness, cat owners only need to remove and dispose of solid waste and stir in the urine on a daily basis.  This will help the coconut absorb the ammonia in the urine, eliminating the need to always scoop wet clumps.</p>


						<h3 id="disposal">How can I properly dispose of CatSpot Litter?</h3>
						<p>Disposing of cat solids should be done in accordance with your local and state laws and regulations. CatSpot can only provide you with the options that can be used.  With CatSpot Litter Cat Litter, the solids can be disposed by waste receptacle, flushing in your toilet, or used in composting.</p>


						<h3 id="shelf-life">Does CatSpot Litter have a shelf life?</h3>
						<p>Studies and tests are still being conducted, but we have experienced no ill-effects for up to one year.</p>


						<h3 id="multi-cat-household">Can CatSpot Litter be used for multiple cat households?</h3>
						<p>Absolutely.  Our general recommendation is one bag of CatSpot Litter per cat, per month.  We also recommend that each cat have its own litter box.</p>
					</div>


					<div id="features">
						<h1>Features</h1>

						<h3 id="what-is-different">What makes CatSpot Litter different from other cat litters?</h3>
						<p>CatSpot Litter is made from one ingredient – coconut, Mother Earth’s most ingenious invention.  It is the only 100% organic cat litter in the market.  It is all natural, environmentally friendly, biodegradable, hypoallergenic, fragrance-free, vacuum-safe, flushable, and highly effective at absorbing urine. </p>
						<p>CatSpot Litter can be delivered to your home for only $15.00 a month. Each bag is extremely lightweight, only weighing 5 pounds compared to the standard 15, 25, and 40 pound bags. You can cancel anytime and shipping is always free.</p>


						<h3 id="how-does-it-work">How does coconut work as cat litter?</h3>
						<p>Coconut holds 560% of its weight in liquid making it the most absorbent plant known to man.  The absorbent nature is what makes CatSpot Litter so effective.</p>


						<h3 id="flushable">Is CatSpot Litter flushable? Is it septic system safe?</h3>
						<p>Yes.  There are also no harmful clumping agents or clay in our litter that would cause any problems with your plumbing.  Disposal of these litter products through septic tank systems has not been evaluated and is not recommended.  *It has been determined through laboratory testing that CatSpot Litter is flushable through residential plumbing systems designed and maintained in accordance with plumbing codes. Local regulations on flushing vary. **State of California discourages residents from flushing cat feces in toilets or disposing of it in drains.</p>


						<h3 id="self-cleaning">Will CatSpot Litter work in a self-cleaning litter box?</h3>
						<p>Yes.  However, since the self-cleaning litter box removes some of the urine before it can absorb into the product, we recommend sprinkling a small amount of CatSpot Litter into the waste container.  Although this will require a rotation of an extra bag every other month or so, this will eliminate litter box odor and provide optimal absorption, which is what CatSpot does best.</p>


						<h3 id="biodegradable">Is CatSpot Litter biodegradable? Can you put it in compost?</h3>
						<p>Yes.  CatSpot Litter is completely biodegradable and will not fill up landfills.  It also doubles as a soil amendment and can be repurposed in your garden, lawn or compost as it contains wonderful nutrients and naturally absorbs water.</p>


						<h3 id="flammable">Is CatSpot Litter flammable?</h3>
						<p>No. CatSpot Litter is not flammable or combustible.</p>


						<h3 id="fragrance">Is CatSpot Litter fragrance free?</h3>
						<p>Yes. CatSpot Litter is unscented.  Note that a cat's sense of smell is much stronger than ours.  Your car may smell odors that you can't and decide that the litter box is unclean and may discontinue using the box.  At this time, you should clean it out and adjust your monthly litter supply based on these changes.</p>


						<h3 id="other-animals">Is CatSpot Litter safe for ferrets? Dogs? Rabbits? Rats? Reptiles?</h3>
						<p>Yes, CatSpot Litter is safe for ferrets, dogs, rabbits, rats or any other pets.  CatSpot Litter does not clump, which protects your pets from potentially ingesting cat litter and contracting a gastrointestinal infection.  If you have a reptile, check out our <a href="https://www.reptileprime.com/purchase-here" target="_blank">Reptile Prime Premium Bedding</a>.</p>


						<h3 id="other-uses">Are there other uses for CatSpot Litter?</h3>
						<p>CatSpot Litter is biodegradable and can be used as a soil amendment for your lawn, garden or compost. It has the capabilities of soaking up motor oil.  However, it’s primary use is for cat litter.  We do not recommend using CatSpot Litter to provide traction on snow or ice-covered ground.</p>
					</div>


					<div id="health">
						<h1>Health</h1>

						<h3 id="change-frequency">What does the frequency of change mean?</h3>
						<p>Frequency of change is the process of completely dumping out and refilling the cat litter box.  To maintain complete odor control, it is important to remove all used product when you change the litter box.</p>


						<h3 id="clumping">What is the difference between clumping and non-clumping cat litter?</h3>
						<p>CatSpot Litter is a non-clumping (non-scoopable) cat litter, meaning that it is made from materials that will absorb odors and urine but will not clump.  Clumping (scoopable) litter is the only type of liter that allows both the feces and urine to be removed each time the litter box is cleaned.  Clumping litter is hazardous for pets, such as dogs or rabbits, because it can cause gastrointestinal blockage or even death if digested.  It also has quartz silica, which can cause respiratory disorders for pets.</p>


						<h3 id="fumes">Are there risks to breathing in cat litter fumes?</h3>
						<p>Cat urine is very concentrated, so people with oversensitive immune systems or prolonged exposure may suffer a range of symptoms including: coughing, sneezing, wheezing, running or stuffy nose, hives, rashes on the chest or face, irritated eyes, headaches, dizziness, nausea, and vomiting.  Make sure to empty the cat litter box of solid waste and stir in the urine once a day.  At the end of the frequency of change period, refill the litter box with the desired frequency of change amount.</p>


						<h3 id="toxoplasmosis">What is toxoplasmosis in cats?</h3>
						<p>Toxoplasmosis is a disease that can be transmitted through cat feces and is characterized by clinical symptoms such as weight loss, diarrhea, seizures, inflammation, and respiratory problems.  See your veterinarian for a proper physical examination.</p>


						<h3 id="change-litter-pregnant">Is it safe to change cat litter while pregnant?</h3>
						<p>While there are no health risks associated with CatSpot Litter, we want to remind pregnant women and those with suppressed immune systems that a parasite can sometimes be found in cat feces, which can cause toxoplasmosis – a disease that can lead to premature birth, low birth weight, abnormal head size, convulsions, or other birth defects.  If you are pregnant, avoid changing cat litter and always wash your hands thoroughly after contact with cats or raw meat.</p>


						<h3 id="toxoplasmosis-pregnancy">How common is toxoplasmosis in pregnancy?</h3>
						<p>According to the <a href="http://americanpregnancy.org/pregnancy-complications/toxoplasmosis" target="_blank">American Pregnancy Association</a>, toxoplasmosis is found in more than 50% of the population in Central and Southern Europe, Africa, South America, and Asia.  In the US, toxoplasmosis is found in between 400 and 4,000 babies every year.  See your health provider for a proper examination.</p>


						<h3 id="where-to-put">Where should I put the litter box in a house? In an apartment?</h3>
						<p>Place the cat litter box in a quiet location that is easy to access for both you and your cat.  A cabinet side table or DIY litter box provides your cat with privacy while taking the least amount of space in your home.  Although the laundry room sounds like a good idea, they are prone to loud noises and high foot traffic.  Also, remember to have one litter box per cat.</p>


						<h3 id="prevent-smelling">How do I keep the litter box from smelling?</h3>
						<p>CatSpot Litter has been proven to be highly effective at controlling odors.  Remove your cat’s waste on a regular basis and replace the entire litter box as needed.  Keep the litter box in open, well-ventilated areas.  To ensure the product works most effectively, follow the usage instructions on the package.  You may need extra CatSpot Litter based on the frequency of change, cat preferences, or size of the litter box.</p>
					</div>


					<div id="support">
						<h1>Support</h1>

						<h3 id="manufacturing-location">Where is CatSpot Litter made?</h3>
						<p>CatSpot Litter is manufactured in Sikeston, Missouri in the heartland of the United States.</p>


						<h3 id="delivery-time">How long does it take to deliver CatSpot Litter after placing my order?</h3>
						<p>It takes 7-10 business days for your CatSpot Litter to be delivered to your home after placing your order.</p>


						<h3 id="return-policy">If I am unsatisfied with my purchase, does CatSpot have a return policy?</h3>
						<p>We have no doubt that you’ll be satisfied with CatSpot Litter.  But, if for some reason, you’re not, we do offer a one-time refund for your purchase.  Return of product is not necessary.  Reference our <a href="https://catspotlitter.com/moneyback_guarantee">money-back guarantee</a>.</p>
					</div>


				</div>
				<div class="content hidden">
					{{ settings["faq-faq/content"] }}
				</div>
			</div>
		</div>
	</div>
</section>
