<section id="cmp_a8bcab1a-d36b-463e-93da-0d2bd9bcb87d" class="component-rich-text-with-button">
	<div class="container-fluid">
		<!--div class="row">
			<div class="col-xs-12">
              <div class="content content--difference">
				{{ settings["cmp_a8bcab1a-d36b-463e-93da-0d2bd9bcb87d/content"] }}
              </div>
			</div>
		</div-->
      <div class="row">
        <div class="col-xs-12">
          <div class="content content--difference">
            	<div class="diff__highlight diff__highlight--one-ingredient">
                  <img src="{{ 'images/icon-color-one-ingredient.png' | asset_url }}">
                  	<h2>One Ingredient, It’s That Simple.</h2>
					<p>Can you name the ingredients found in your litter? We can. We have just one ingredient – 100% organic coconut. Coconut is what sets us apart from the rest. No toxic chemicals, no hidden additives, no man-made fragrances, no clay. With CatSpot, there’s no need to worry.</p>
            	</div>
            	<div class="diff__highlight diff__highlight--clumping">
                  <img src="{{ 'images/icon-color-clumping.png' | asset_url }}">
                  <h2>No More Clumping</h2>
<p>Forget about clumping; it’s not necessary. With CatSpot, the urine and odor are simply absorbed into the coconut!</p>
            	</div>
            	<div class="diff__highlight diff__highlight--odor">
                  <img src="{{ 'images/icon-color-odor.png' | asset_url }}">
                  <h2>Unmatched Odor Elimination</h2>
                  <p>Say goodbye to all those overbearing fragrances, expensive air fresheners and aerosol sprays. CatSpot’s molecular framework acts as a cage, trapping odor molecules inside. &nbsp;Litter is all-natural, so the solids are completely flushable*. It can also be thrown in the trash, or thrown in your yard – it’s biodegradable!</p>
                </div>
            	<div class="diff__highlight diff__highlight--soft">                  
                  <img src="{{ 'images/icon-color-soft.png' | asset_url }}">
                  <h2>Soft on Sensitive Paws</h2>
                  <p>Clay and other litters are made of harsh materials and chemicals that can be painful to paws, especially for declawed cats. Our litter is soft to the touch, even on the most sensitive paws.</p>
            	</div>
            	<div class="diff__highlight diff__highlight--use-less">
                  <img src="{{ 'images/icon-color-use-less.png' | asset_url }}">
                  <h2>Use Less Litter, Less Often</h2>
                  <p>Because our litter is more absorbent than anything else on the market, you can use a smaller amount and leave it longer. Just remember to stir it frequently.</p>
            	</div>
            	<div class="diff__highlight diff__highlight--lightweight">
                  <img src="{{ 'images/icon-color-lightweight.png' | asset_url }}">
                  <h2>Lightweight</h2>
					<p>CatSpot is the lightest litter on the market. Our bag weighs less than 5 pounds and it lasts for one month. Compare that to other 15, 25 and 40 pound bags!</p>
            	</div>
           <p class="text-center"><small><em>*Disposing of cat solids should be done in accordance with your local and state laws and regulations. CatSpot can only provide you with the options that can be used with CatSpot Litter. The State of California discourages residents from flushing cat feces in toilets or disposing of it in drains.</em></small></p>
            
          </div>
        </div>
      </div>
      
   

		<!--div class="component-rich-text-with-button__button-row row">
			<div class="col-xs-12 text-center">
				<a type="button" class="btn btn-large btn-primary" href="{{ settings['cmp_a8bcab1a-d36b-463e-93da-0d2bd9bcb87d/button_url'] | default('#') }}">{{ settings["cmp_a8bcab1a-d36b-463e-93da-0d2bd9bcb87d/button_text"] }}</a>
			</div>
		</div-->
		
	</div>
</section>

