#subscribe-flow-terms-step-title {
	background-color: {{ settings["subscribe-flow-terms-step-title/background_color"] }};
	padding-bottom: 0;
}

#subscribe-flow-terms-step-title h1 {
	color: {{ settings['subscribe-flow-terms-step-title/heading/color'] }};
	font-family: {{ settings['subscribe-flow-terms-step-title/heading/font_face'] }};
	font-size: {{ settings['subscribe-flow-terms-step-title/heading/font_size'] }};
}

#subscribe-flow-terms-step-title p {
	color: {{ settings['subscribe-flow-terms-step-title/body/color'] }};
	font-family: {{ settings['subscribe-flow-terms-step-title/body/font_face'] }};
	font-size: {{ settings['subscribe-flow-terms-step-title/body/font_size'] }};
}
#subscribe-flow-terms-step-title  {
	padding-bottom: 0;
}